* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;

    height: 100vh;
    padding: 0.5rem;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input, button {
    background-color: #1c1b1d;
    color: inherit;

    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.2);

    padding: 0.5rem;
    border-radius: 0.5rem;
}

input:focus {
    outline: 1px solid rgba(255, 255, 255, 1);
}

.url-bar {
    display: flex;

    gap: 0.5rem;


    box-sizing: border-box;
}

#url-input {
    flex-grow: 1;
}

#submit {
    font-weight: 500;
}

#tab {
    flex-grow: 1;
    border-radius: 0.5rem;
}